

<div class="container-fluid">
<div class="row">
	<div class="col-md-12 border text-center">class=container-fluid. cCol-md break at 970px</div>
</div>

<div class="row">
  <div class="col-md-1 border">.col-md-1</div>
  <div class="col-md-1 border">.col-md-1</div>
  <div class="col-md-1 border">.col-md-1</div>
  <div class="col-md-1 border">.col-md-1</div>
  <div class="col-md-1 border">.col-md-1</div>
  <div class="col-md-1 border">.col-md-1</div>
  <div class="col-md-1 border">.col-md-1</div>
  <div class="col-md-1 border">.col-md-1</div>
  <div class="col-md-1 border">.col-md-1</div>
  <div class="col-md-1 border">.col-md-1</div>
  <div class="col-md-1 border">.col-md-1</div>
  <div class="col-md-1 border">.col-md-1</div>
</div>
<div class="row">
  <div class="col-md-8 border">.col-md-8</div>
  <div class="col-md-4 border">.col-md-4</div>
</div>
<div class="row">
  <div class="col-md-4 border">.col-md-4</div>
  <div class="col-md-4 border">.col-md-4</div>
  <div class="col-md-4 border">.col-md-4</div>
</div>
<div class="row">
  <div class="col-md-6 border">.col-md-6</div>
  <div class="col-md-6 border">.col-md-6</div>
</div>
</div>
</br>

<div class="container">
<div class="row">
	<div class="col-md-12 border2 text-center">class=container</div>
</div>
	<div class="row">
		<div class="col-md-8 border2">.col-md-8</div>
		<div class="col-md-4 border2">.col-md-4</div>

	</div>
</div>
</br>
<div class="container">
<div class="row">
	<div class="col-md-12 border2 text-center"><p>In this example col-md will break when it is less than 768px. The columns will be vertically. Example: Stacked-to-horizontal</p></div>
</div>
	
</div>