<!-- Stack the columns on mobile by making one full-width and the other half-width -->
<div class="row">
  <div class="col-md-8 border ">col-md-8 Break at 970px</div>
  <div class="col-md-4 border ">.col-md-4 Break at 970px</div>
</div>
</br>

<!-- Columns start at 50% wide on mobile and bump up to 33.3% wide on desktop -->
<div class="row">
  <div class="col-xs-6 col-md-4 border2">.col-xs-6 .col-md-4</div>
  <div class="col-xs-6 col-md-4 border2">.col-xs-6 .col-md-4</div>
  <div class="col-xs-6 col-md-4 border2">.col-xs-6 .col-md-4</div>
</div>

</br>
<!-- Columns are always 50% wide, on mobile and desktop -->
<div class="row">
  <div class="col-xs-6 border">.col-xs-6. Does not break</div>
  <div class="col-xs-6 border">.col-xs-6. Does not break</div>
</div>